.A{
	height: 315px;
	width: 215px;
	border: 5px solid red;
	display: inline-block;
	background-color: black;
    color:black;
    text-align: center;

position: relative

}
.B
{
	height: 315px;
	width: 215px;
	border: 5px solid red;
	display: inline-block;
	background-color: black;
    color:black;
	outline-width: 2px;
    text-align: center;
    position: relative
}
.C
{
	height: 315px;
	width: 215px;
	border: 5px solid red;
	display: inline-block;
	background-color: black;
    color:black;
	outline-width: 2px;
    text-align: center; 
    position: relative;
}
.D
{
	height: 315px;
	width: 215px;
	border: 5px solid red;
    display: inline-block;
    background-color:  black;
    color:black;
    outline-width: 2px;
    text-align: center;
    position: relative;
}
.M
{
	padding-left:  15%;
    padding-top: 10%;
    align-items: center;
    align-content: center;
}
body
{
	margin: 0;
}
.A .p1
{
    margin: 0;
    position: absolute;              
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%) ;
    color:white;                    
}
.B .p1
{
    margin: 0;
    position: absolute;              
    top: 50%;                         
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
.C .p1
{
    margin: 0;
    position: absolute;              
    top: 50%;                         
     left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
.D .p1
{   margin: 0;
    position: absolute;              
    top: 50%;                         
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;}
.caption
{
    bottom:0;
    left:20%;
    position: absolute;
    background-color: yellow;
}